.DS_Store
venv/
*.pyc
*~
.idea/*
!.idea/runConfigurations/
*.iml
*.pk1
.gitconfig
server.conf
dump.rdb
.ropeproject/
external/packages/**/*.pyd
external/packages/**/*.so
external/packages/**/build/
external/packages/**/*.egg-info/
htmlcov/
.coverage
node_modules
